<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Train Booking App</title>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="container mx-auto py-10">
      <h1 class="text-3xl font-bold text-zinc-500 text-center mb-6">
        Register Yourself
      </h1>

      <div
        class="max-w-md mx-auto bg-white shadow-md rounded-lg p-6 border-[1px] border-zinc-300"
      >
        <form
          id="bookingForm"
          class="space-y-4"
          action="/user/create"
          method="post"
        >
          <div>
            <label class="block text-sm font-medium mb-1" for="customerName"
              >Name</label
            >
            <input
              type="text"
              id="customerName"
              name="customer_name"
              placeholder="Enter your name"
              class="w-full rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 py-2 px-2 border-[1px] border-zinc-400"
            />
          </div>

          <div>
            <label class="block text-sm font-medium mb-1" for="customerEmail"
              >Email</label
            >
            <input
              type="email"
              id="customerEmail"
              name="customer_email"
              placeholder="Enter your email"
              class="w-full rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 py-2 px-2 border-[1px] border-zinc-400"
            />
          </div>

          <div>
            <label class="block text-sm font-medium mb-1" for="customerPhone"
              >Phone</label
            >
            <input
              type="tel"
              id="customerPhone"
              name="customer_phone"
              placeholder="Enter your phone number"
              class="w-full rounded-md shadow-sm focus:border-indigo-500 focus:ring-indigo-500 py-2 px-2 border-[1px] border-zinc-400"
            />
          </div>

          <button
            type="submit"
            class="w-full bg-indigo-500 text-white font-semibold py-2 px-4 rounded-md shadow-sm hover:bg-indigo-600 cursor-pointer"
          >
            Register
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
